body {
  background: #f1f1f1;
  margin: 0;
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.product-details {
  background: gray;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.product-details h4 {
  margin: 0 0 10px 0;
  font-size: 2em;
}

.product-details p {
  font-size: 1.2em;
  color: #333;
}

.product-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: rgb(62, 184, 62);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  margin: 20px 0;
}

.product-details span {
  background: #b22222;
  color: black;
  border-radius: 5px;
}

input.error {
  border: 1px solid red;
}